<html ng-app="MeanApp">
	<head>
		<title>The MEAN stack</title>
		<link href="assets/style.css" type="text/css" rel="stylesheet" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js" ></script>
	</head>
	<body ng-controller="MainCtrl as vm">
		<h1>{{ vm.title }}</h1>
		<form method="POST" action="/person">
			First name: <input type="text" id="name" name="name" /><br />
			Last name: <input type="text" id="lastName" name="lastName" /><br />
			Custom Message: <input ng-model="vm.message" />
			<input type="submit" value="Submit" />
			<br />
			<ul>
				<li ng-repeat="person in vm.people">
					{{ person.name }}
				</li>
			</ul>
		</form>
		<script>
			var clientPeople = <%- JSON.stringify(people) %>
		</script>
		<script src="/assets/js/app.js"></script>
	</body>
</html>
